@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: "Oswald", serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  background-color: #212121;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  font-family: "Oswald", serif;
  background-color: black;
}

section.singleMovie:nth-child(2) {
  display: grid;
}

.groupMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  gap: 1rem 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.singleMovie img {
  border-radius: 10%;
  width: 100%;
}
.singleMovie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  /* margin-bottom: 2rem; */
  height: 4rem;
  justify-content: space-between;
  padding-left: 4rem;
  position: sticky;
  top: 0;
  padding-right: 3rem;
}

nav ul {
  display: flex;
  gap: 0 40px;
  display: flex;
  gap: 0 40px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.movieTitle {
  font-size: 20px;
}

.swipperContent {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 15px 0;
  grid-template-rows: auto 1fr;
}
.swipperContent img {
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}
.swipperContent img:hover {
  transform: scale(1.1);
}
.viewGenre > h1 {
  font-size: 35px;
  margin-bottom: 1rem;
}
body {
  background-color: #000000;
}
.viewGenre {
  width: 100%;
  background-color: #212121;
  background-color: #52616b;
  background-color: #222831;
  background-color: #09122c;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.groupMovies {
  display: flex;
  flex-direction: column;
}

nav {
  z-index: 2;
  border-bottom: 3px solid #d70654;
}
nav a {
  transition: color 0.2s ease-in-out;
  font-size: 18px;
}
nav a:hover {
  color: #d70654;
}
nav input {
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid gainsboro;
  padding: 10px 20px;
  border-radius: 3px;
  transition: all ease-in-out 0.2s;
  color: white;
  padding-left: 45px;
}

nav input:focus {
  border: 1px solid #d70654;
}
.searchIcon {
  width: 15px;
  position: relative;
  left: 35px;
}
.inputSea {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.oneMovie {
  margin: auto;
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* gap: 0 100px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
  max-width: 80%;
}
.oneMovie header img {
  /* width: 100%; */
  /* height: 500px; */
  max-height: 85vh;
  /* max-width: 100%; */
}
.movieArticle {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 10px;
  text-transform: capitalize;
}
.movieArticle .movieTitle {
  font-size: 50px;
}
.movieArticle .moviePara {
  font-size: 18px;
}
.TagLine {
  text-align: right;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 400;
}
.dp {
  width: 100px;
}
.displayResults {
  width: 400px;
  background-color: white;
  background-color: #09122c;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  max-height: 500px;
  overflow-y: scroll;
  right: 50px;
  top: 50px;
}
.displayResults ul {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.displayResults ul li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  gap: 15px 0;
}
.displayResults .viewImg {
  width: 70px;
  height: 100px;
  border-radius: 10px;
}
li {
  list-style: none;
}
.twoColumns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.twoColumns h1 {
  font-size: 37px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.twoColumns a {
  font-size: 30px;
  transition: all 200ms ease-in-out;
}
.twoColumns a:hover {
  color: #d70654;
}
.viewNos {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.viewNos {
  /* gap: 10px; */
  gap: 15px;
  max-width: 1450px;
  margin: auto;
  padding-top: 4rem;
  grid-template-columns: repeat(4, 300px);
  place-content: center;
  transition: all 2s ease-in-out;
}
.gridEle {
  position: relative;
}
.gridEle img {
  height: 100%;
}

.hovered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.hovered:hover {
  background-color: #09122cb0;
}

.hovered {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 20px 0;
}

div.gridEle > div > h1:nth-child(1) {
  font-size: 30px;
}

div.gridEle > div > p:nth-child(3) {
  text-align: left;
  align-self: first baseline;
}

div.gridEle > div > p:nth-child(4) {
  align-self: flex-start;
}
.circle-button {
  width: 30px;
  height: 30px;
  border: 2px solid #d70654;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otherPages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.otherPages {
  grid-column: 1/-1;
}
.naviBtn {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #d70654;
  padding: 2px 10px;
}
.buttonActive {
  background-color: #d70654;
  color: white;
}
.otherPages {
  place-content: center;
}
.activeNink {
  color: #d70654;
}

.movieArticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto auto;

  gap: 0;
}

.movieArticle .movieTitle {
  grid-column: 1/-1;
}

.movieArticle .moviePara {
  grid-column: 1/-1;
}

.movieArticle > h4:nth-child(3) {
  /* grid-column: 1/-1; */
}
.movieArticle > h4 {
  font-size: 19px;
}
.TagLine {
  grid-column: 1/-1;
}
.movieArticle .moviePara {
  line-height: 1.75;
  font-size: 19px;
}

/* Element | http://localhost:5173/series/93405 */

.oneSeries .lastEpisodeToAir {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
}

/* Element | http://localhost:5173/series/93405 */

.oneSeries .lastEpisodeToAir > h4 {
  font-size: 17px;
}
.airDates {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
